.flag{
    width: 25px;height: 15px;
}
tr{
    background-color: rgb(255, 230, 0);
    text-align: left;
}
tbody:nth-child(even) tr:nth-child(odd){
   background-color: rgb(245, 179, 179);
}
thead{
    background-color: rgb(255, 230, 0);
    text-align: left;
}