.title {
    text-align: center;
    color: blue;
    font-size: 25px;
    font-family: "Times New Roman" ;
}
body {
    background-color: rgb(165, 158, 158);
}

ul {
    list-style-type: none;
}
h1{
    color: rgb(160, 230, 81);
}
footer {
    color: black;
    text-decoration: none;
}
p {
    color: rgb(21, 2, 105);
    text-decoration: none;
}
a {
    color: rgb(199, 15, 8);
    text-decoration: none;
}
.theEnd {
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: "Times New Roman" ;
}